@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


.App {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  
}

.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #904860;
}

.hero {
  border: 1px solid black;
  height: 60%;
  background-image: url(https://images.unsplash.com/photo-1622403808919-b422113f535c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
}

.banner {
  font-family: 'Odibee Sans';
}

h1 {
  color: #ffebcd;
  font-size: 6rem;
  animation: fadeIn linear 3s;

}

.roles {
  font-size: 4rem;
  color: #ffebcd;
  list-style-type: none;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.words {
  color: #904860;
  font-size: 0;
  line-height: 1.5;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.3s;
}
.words span:nth-child(3) {
  animation-delay: 0.6s;
}
.words span:nth-child(4) {
  animation-delay: 0.9s;
}
.words span:nth-child(5) {
  animation-delay: 1.2s;
}

.words span {
  font-size: 7rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}








