@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.App {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  
}

.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #904860;
}

.hero {
  border: 1px solid black;
  height: 60%;
  background-image: url(https://images.unsplash.com/photo-1622403808919-b422113f535c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
}

.banner {
  font-family: 'Odibee Sans';
}

h1 {
  color: #ffebcd;
  font-size: 6rem;
  animation: fadeIn linear 3s;

}

.roles {
  font-size: 4rem;
  color: #ffebcd;
  list-style-type: none;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.project-container {
  background: linear-gradient(0.25turn, #d0f0c0, #a9ba9d, #8f9779);
  height: 100vh;
}

.words {
  color: #d0f0c0;
  font-size: 0;
  line-height: 1.5;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.3s;
}
.words span:nth-child(3) {
  animation-delay: 0.6s;
}
.words span:nth-child(4) {
  animation-delay: 0.9s;
}
.words span:nth-child(5) {
  animation-delay: 1.2s;
}

.words span {
  font-size: 7rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

.first-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff0d8;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #f0d8d8;
  width: 50%;
  margin-left: 25%;
}

h4 {
  font-family: 'Bad Script';
  font-size: 2rem;
}

img {
  height: 300px;
  width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

img:hover {
  transform: scale(1.2);
}

.skills-container {
  background: linear-gradient(0.25turn, #d0f0c0, #a9ba9d, #8f9779);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  font-size: 6rem;
}

.icon:nth-of-type(1) {
  color: #ff9912;
}

.icon:nth-of-type(2) {
  color: #82eefd;
}

.icon:nth-of-type(3) {
  color: #fef9f3;
}

.icon:nth-of-type(4) {
  color: #0000ff;
}

.icon:nth-of-type(5) {
  color: #ffff00;
}

.icon:nth-of-type(6) {
  color: #008000;
}

.icon:nth-of-type(7) {
  color: #d87093;
}



.about {
  background: linear-gradient(0.25turn, #d0f0c0, #a9ba9d, #8f9779);
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  .roles {
    font-size: 4rem;
  }
}



@media (max-width: 667px) {
  h1 {
    font-size: 2rem;
  }

  .roles {
    font-size: 2rem;
  }
 
}

@media (max-width: 414px) {
  .words span {
    font-size: 4rem;
  }

  img {
    height: 200px;
    width: 150px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
  }

  .icon {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  .words span {
    font-size: 4rem;
  }

  img {
    height: 200px;
    width: 150px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
  }

  .icon {
    font-size: 3rem;
  }
}











